/.dotfiles.git
.CFUserTextEncoding
.oh-my-zsh/
.adobe/
.bundle/
.bundler/
.cache/
.config/
.cups/
.divshot/
.dropbox-master/
.dropbox/
.exercism
.gem/
.gitexcludes
.gitpt
.gnupg/
.guard_history
.htoprc
.lesshst
.local/
.mysql_history
.netrc
.node-gyp/
.npm/
.nvm/
.pry_history
.rbenv/
.rdebug_hist
.rnd
.sqldeveloper/
.ssh/
.subversion/
.viminfo
.vnc/
.Xauthority
.zcompdump
.zsh-update
.zsh_history
Applications/
bin/
code/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Projekte/
Public/
Wine Files/